@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
.container {
  max-width: 1076px !important;
}

.main-header {
  background-color: #003b95;
  height: 124px;
}

.main-header a.nav-link,
a.nav-link.active {
  color: #fff !important;
}

.main-header .navbar {
  padding: 12px 0;
}

.main-header .navbar .flag img {
  border-radius: 50%;
  width: 24px;
  margin: 0 20px;
}

.main-header .navbar .help svg {
  width: 24px;
  margin-right: 20px;
  fill: white;
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar-collapse {
  flex-grow: initial;
}

.navbar .navbar-nav .btn-user {
  background-color: white;
  display: inline-block;
}

.navbar .navbar-nav a.btn-user {
  font-size: 14px;
  color: #006ce4;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.header-service {
  color: #fff;
  gap: 18px;
  font-size: 14px;
}

.header-service .service-item {
}

.header-service .service-item.active {
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 20px;
  background-color: #ffffff33;
}

.header-service .service-item svg {
  width: 20px;
  fill: currentcolor;
  margin-right: 12px;
}

.breadcrumb-item a {
  font-size: 12px;
}

.breadcrumb-item.active {
}

.sidebar {
  padding: 20px 15px;
  margin-right: 20px;
  background-color: #ffb700;
  border-radius: 5px;
  max-width: 264px;
  width: 100%;
}

.form-search-item {
  margin-bottom: 4px;
}

.form-search-item label {
  font-size: 12px;
}

.search-text-result {
  font-size: 24px;
  font-weight: 700;
}

.product-item {
  padding: 18px;
  gap: 20px;
  border: 1px solid rgb(198, 196, 196);
  margin-bottom: 20px;
  border-radius: 5px;
}

.product-content {
  width: 50%;
}

.product-image img {
  border-radius: 5px;
}

.product-item svg {
  width: 12px;
}

.product-head {
  display: flex;
  align-items: center;
}

.product-title {
  color: #006ce4;
  font-weight: 700;
  font-size: 20px;
}

.product-address {
  font-size: 12px;
}

.product-address a {
  margin-right: 5px;
}

.product-desc {
  font-size: 12px;
  margin-top: 6px;
}

.product-category span {
  margin-left: 5px;
  font-size: 12px;
}

.product-type {
  font-weight: 500;
  font-size: 16px;
}

.product-review {
  font-weight: 400;
  font-size: 12px;
}

.product-location-point {
  background-color: #003b95;
  color: white;
  padding: 6px;
  border-radius: 6px;
}

.product-rate svg {
  fill: #ffb700;
  margin-right: 5px;
}

.product-price {
  text-align: right;
}

/* order  */

html {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  -ms-font-smoothing: antialiased !important;
}

body {
  font-family: "Open Sans", sans-serif;
  /* font-family: 'BlinkMacSystemFont',-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif; */
  font-size: 16px;
  color: #555555;
}

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
  background-color: rgba(0, 0, 0, 0.04);
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00ae4d;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: rgb(0, 113, 194);
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(0, 113, 194);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}

.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #dddddd;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

.product-order {
}

.product-order .bill {
  max-width: 360px;
  width: 100%;
}

.product-order .product-detail {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 10px;
  margin-bottom: 16px;
}

.product-order .title {
  font-size: 16px;
  font-weight: bolder;
}

.product-order .order-form {
}

.short-hand-price {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 10px;
  margin-bottom: 16px;
}

.short-hand-price p {
  font-size: 12px;
}

.bill span {
  font-size: 13px;
}

/* CUSTOM CSS */
.product-order-follow {
  display: flex;
  justify-content: space-between;
}
.md-step-bar {
  flex: 1;
  height: 1px;
  margin: 0 10px;
  background-color: black;
}
.total-bill {
  background-color: rgb(235, 243, 255);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 -10px;
}
.tip {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.info-customer {
  background-color: #ebf3ff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.required_fields_description {
  font-weight: normal;
  padding: 0.4em 0.8em;
  border-radius: 4px;
  background: #d2edd5;
  margin: auto;
  display: inline-block;
  font-size: 15px;
  color: #006607;
  text-align: left;
}
.bui-alert__text {
  color: rgb(146, 62, 1);

}
.bk-icon-streamline-info_sign {
  color: rgb(146, 62, 1);
}
.date-picker {
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}